/* Your CSS definition here */
th {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14pt;
  color: white;
  text-align: center;
  border-spacing: 10px;
  white-space: nowrap;
  left: 40px;
}

.homeScores {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12pt;
  color: white;
  top: 10px;
  left: 80px;
  border-spacing: 10px;
}

.awayScores {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12pt;
  color: white;
  top: 30px;
  left: 80px;
  border-spacing: 10px;
}
.scores {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12pt;
  color: white;
  top: 15px;
  left: 80px;
  border-spacing: 10px;
}

.field {
  height: 140px;
  width: 220px;
  border-spacing: 30px;
  background-color: rgb(50, 100, 85);
}

.controlCenter {
  height: 120px;
  width: 150px;
  border-spacing: 20px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  top: 200;
  background-color: black;
}
